body{
    background-color: black;
}
.container{
   width: 40%;
   height: 600px;
   text-align: center;

}
.sec-one{
 
    
}
button{
    border: 10px;
    border-radius: 200px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(168, 157, 157, 0.199);
    color: white;


     
}
h1{
    color: white;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 235px;
    
}
#demo{
    width: 45%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 30px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    box-shadow: -3px 1px 20px 5px; 
}